
.admin-sidebar {
	height:500px; 
	background: #008484;

	.main-items{
		padding: 18px;
		width:100%;
		text-decoration: none; 
		color: black;
		&:hover{
			padding-left: 30px;
			transition: all 0.3s;
			color: white;
			text-decoration: none;
		}

	}
	.sub-item{
		background-color: #00848479;
	}
	.sub-item:hover{
		background-color: #006e6e;
		transition: all 0.3s;
		a:hover {
			color: white;
		}
	}
}

// .admin .sidebarUser{
// 	margin: 0 ;
// 	padding: 0px;

// 	ul{
// 		list-style: none;
// 		margin: 0px;
// 		padding: 0px;
// 		background: #008484;
// 		@media(min-width: 767px){
// 			min-height: 400px;

// 		}
// 		a{
// 			padding: 18px;
// 			display: block;
// 			border-bottom: 1px solid white;
// 			color: white;
// 			&:hover{
// 				padding-left: 30px;
// 				transition: all 0.3s;
// 				color: white;
// 				text-decoration: none;
// 			}
// 		}
// 	}
// }
.admin .title-table div{
	background: silver;
	font-weight: bold;
}
.admin .title-table div,
.admin .post > div{
	padding: 15px;
	border-bottom: 1px solid #d3d3d3;
}